@charset "UTF-8";
.pagination {
  margin: 3rem auto 2rem auto;
  font-size: 1.2rem;
  text-align: center;
}
h1,
h2,
h3,
h4,
.navfooter,
.social,
.author,
.data-arquivos,
.pageCaption,
.source {
  font-family: $destaques-fonts;
}
.pageCaption {
    font-size: 0.82rem;
    margin: 0.5rem 0 0 0;
}
.author {
  margin: 0.3rem 0 0.8rem 0;
  p {
  font-size: 0.7rem;
  }
}
.navfooter,
.social {
  text-align: center;
  font-size: 0.9rem;
  margin: 1rem auto 2rem auto;
  li {
    list-style-type: none;
    padding: 0 1rem 0 0;
    display: inline-block;
  }
  li:last-child{
    margin-right: 0;
  }
}
.social {
  margin-top: 2rem;
}
.footnotes {
  font-size: 0.8rem;
  margin: 2rem 0 1rem 0;
  padding-top: 0.65rem;
  border-top: 1px solid $transparencia;
  p {
    font-size: 0.9rem;
  }
}
.fluid-width-video-wrapper {
	margin: 2rem auto 2rem auto;
}
.postQuote {
  font-size: 1.2rem;
  line-height: 1.4;
  border-left: 3px solid $azul-3;
  padding-left: 1rem;
}
.source {
  font-size: 0.8rem;
}
.source:before {
  content: "- ";
  color: $cinza-1;
}
.headLink:after{
  content: ">";
  display: inline;
  margin: 0 0 0 0.5rem;
  font-size: 80%;
  color: $azul-3;
  text-shadow: none;
}
