@charset "UTF-8";
@media only screen and (min-width:120.000px) {
  html {
  font-size: 22px;
  }
  .pageHeader {
    width: 75%;
    max-width: 50rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  .main {
  width: 50%;
  max-width: 38rem;
  }
  .home {
    width: 55%;
    margin: 0 auto;
    max-width: 40rem;
  }
}

@media only screen and (max-width:70.000em) {
  .pageHeader {
    width: 88%;
  }
  .main {
    width: 80%;
    }
  .home {
    width: 90%;
  }
}

@media only screen and (max-width:50.000em) {
  .main, .pageHeader {
  width: 86%;
  }
}

@media only screen and (max-width:40.000em) {
  html {
  font-size: 18px;
  }
  .home {
    width: 80%;
  }

}

@media only screen and (max-width:32.000em) {
  html {
  font-size: 16px;
  }
  .main, .pageHeader {
  width: 87%;
  }
}
