@charset "UTF-8";
body {
  font: 62.5% $body-font;
  color: $cinza-base;
  font-feature-settings: "kern";
}
.siteTitle {
  color: $cinza-base;
  text-align: center;
  margin-top: 1rem;
  p {
    font: 1.1rem $destaques-fonts;
    font-weight: 300;
  }
}
.main {
  p {
  font-size: 1rem;
  line-height: 155%;
  }
  blockquote {
    margin: 1rem 0 1em 2rem;
    padding-left: 1rem;
    border-left: 3px solid $azul-3;
  }
}
p {
  margin: 0 0 0.06rem 0;
  padding: 0;
}
p+p {
  text-indent: 2rem;
}
.excerpt{
  font-size: 0.95rem;
  line-height: 1.35;
}
.name {
  text-transform: uppercase;
}
// Específicas
.postTags {
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0 0 0.4rem 0;
  color: $cinza-1;
  p {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
}
