---
layout: default
title: Caos Ordenado
---

{% for post in paginator.posts %}
			
	{% if post.link %}
		<h1 class="entry-title">
			<a href="{{ post.link }}" class="link-post" itemtype="http://schema.org/Article" itemprop="url">
				{% if site.titlecase %}
				{{ post.title | titlecase }}
				{% else %}
				{{ post.title }}
				{% endif %}
			</a>
		</h1>
		<time class="entry-meta" datetime="{{ post.date | date: "%Y-%m-%d" }}" itemtype="http://schema.org/Article" itemprop="datePublished">
			{{ post.date | date: "%d.%m.%Y" }}
		</time>
		
		{% else %}

		<h1 class="entry-title" itemtype="http://schema.org/Article" itemprop="headline">
			<a href="{{ post.url }}" itemtype="http://schema.org/Article" itemprop="url">
				{{ post.title }}
			</a>
		</h1>
		<time class="entry-meta" datetime="{{ post.date | date: "%Y-%m-%d" }}" itemtype="http://schema.org/Article" itemprop="datePublished">
			{{ post.date | date: "%d.%m.%Y" }}
		</time>
	{% endif %}

	{% if post.content contains '<!--more-->' %}
    {{ post.content | split:'<!--more-->' | first }}
    <p><a href="{{ post.url }}" itemtype="http://schema.org/Article" itemprop="url">Continue lendo</a></p>

	{% else %}

	<span itemtype="http://schema.org/Article" itemprop="articleBody">
		{{post.content}}
	</span>

	{% endif %}
	
	{% endfor %}

		<div class="pagination" itemtype="http://schema.org/SiteNavigationElement">
			<p>
				{% if paginator.previous_page %}
					{% if paginator.previous_page == 1 %}
						<a href="/" class="previous" itemtype="http://schema.org/Article" itemprop="url">&larr;</a>
					{% else %}
						<a href="/page{{paginator.previous_page}}" class="previous" itemtype="http://schema.org/Article" itemprop="url">&larr;</a>
					{% endif %}
				{% else %}
					<span class="previous"></span>
				{% endif %}
					<span class="page_number">{{paginator.page}} de {{paginator.total_pages}}</span>
				{% if paginator.next_page %}
					<a href="/page{{paginator.next_page}}" class="next" itemtype="http://schema.org/Article" itemprop="url">&rarr;</a>
				{% else %}
					<span class="next">&rarr;</span>
				{% endif %}
			</p>