---
layout: default
title: index
image:
---
{% if page.image %}
	<section class="homeImage" style="background-image: url(/images/{{ page.image }});"></section>
{% endif %}

<article class="home">
{% for post in paginator.posts %}

	{% if post.link %}
	{% include postlink.html %}
	{% elsif post.quote %}
	{% include postquote.html %}
	{% elsif post.video %}
	{% include postvideo.html %}
	{% elsif post.image %}
	{% include postimage.html %}
	{% else %}
	{% include postdefault.html %}
	{% endif %}

{% endfor %}
</article>
{% include pagination.html %}
