---
layout: default
title: Caos Ordenado
---

{% for post in paginator.posts %}					
		
	<article class="home">
	{% if post.image %}
		<a href="{{ post.url }}" itemprop="url"><div class="feature-image" style="background-image: url(/images/small/{{ post.image }})" itemprop="image"></div></a>
		<div class="feature-text">
			<div class="meta" itemprop="tag">{{ post.tags }}</div>
			<h1 itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
		<div>
	{% else %}
		<div class="meta" itemprop="tag">{{ post.tags }}</div>
		<h1 itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
	{% endif %}
	</article>

{% endfor %}
{% include pagination.html %}