<footer role="contentinfo" id="colophon" class="colophon" itemscope itemtype="http://schema.org/SiteNavigationElement" style="background-image: url(/images/{{ page.image }});">
	<ul class="navfooter">
	    <li><a href="http://www.caosordenado.com" rel="bookmark" itemprop="url">Caos Ordenado</a></li>
	    <li><a href="http://www.caosordenado.com/feed.xml" rel="me" itemprop="url">RSS</a></li>
	    <li><a href="mailto:&#x65;&#x64;&#x75;&#x66;&#x40;&#x63;&#x61;&#x6F;&#x73;&#x6F;&#x72;&#x64;&#x65;&#x6E;&#x61;&#x64;&#x6F;&#x2E;&#x63;&#x6F;&#x6D;">Contato</a></li>
	    <li><a href="http://twitter.com/eduf" rel="me" itemprop="url">Twitter</a></li>
	    <li><a href="https://www.facebook.com/edufcaosordenado" rel="me" itemprop="url">Facebook</a></li>
	    <li><a href="https://plus.google.com/118332442513569100227" rel="me" itemprop="url">G+</a></li>
	</ul>
</footer>
