<footer role="contentinfo" id="colophon" itemscope itemtype="http://schema.org/SiteNavigationElement">

    <p>{{site.site_name}}&ensp;&ensp;<a href="http://caosordenado.com/feed.xml" itemprop="url">RSS</a>&ensp;.&ensp;<a href="mailto:&#x65;&#x64;&#x75;&#x66;&#x40;&#x63;&#x61;&#x6F;&#x73;&#x6F;&#x72;&#x64;&#x65;&#x6E;&#x61;&#x64;&#x6F;&#x2E;&#x63;&#x6F;&#x6D;">Contato</a>&ensp;.&ensp;<a href="http://twitter.com/eduf" rel="me" itemprop="url">Twitter</a>&ensp;.&ensp;<a href="https://plus.google.com/118332442513569100227" rel="me" itemprop="url">G+</a>&ensp;.&ensp;<a href="Creative Commons Attribution-NonCommercial 3.0 Unported License" itemprop="url">Creative Commons</a></p>
	
	<iframe src="//www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fedufernandex&amp;layout=standard&amp;show_faces=false&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

</footer>