<header role="masthead" id="branding" itemscope itemtype="http://schema.org/SiteNavigationElement">
  
  <p class="site-title" itemprop="publisher"><a rel="bookmark" href="/" itemprop="url">{{site.site_name}}</a></p>

  <ul class="main-menu">
        <li><a href="/info.html" itemprop="url">Info</a>
        <li><a href="mailto:&#x65;&#x64;&#x75;&#x66;&#x40;&#x63;&#x61;&#x6F;&#x73;&#x6F;&#x72;&#x64;&#x65;&#x6E;&#x61;&#x64;&#x6F;&#x2E;&#x63;&#x6F;&#x6D;">E-mail</a>
        <li><a href="/arquivos.html" itemprop="url">Arquivos</a>
  </ul>

</header>