<aside class="entryMeta">
	<ul class="social">
		<li>Compartilhar:</li>
		<li><a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}">E-mail</a></li>
		<li><a href="http://twitter.com/home?status={{ page.title }}&#160;{{ site.url }}{{ page.url }}">Tweet</a></li>
		<li><a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">Facebook</a></li>
		<li><a target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ site.url }}{{ page.url }}">G+</a></li>
	</ul>
</aside>
