<aside class="entry-meta">
	<ul class="social">
		<li>Compartilhe:</li>
		<li><a href="mailto:?subject={{ page.title }}&body=http://www.caosordenado.com{{ page.url }}">E-mail</a></li>
		<li><a target="_blank" href="http://twitter.com/home?status={{ page.title }}&#160;http://www.caosordenado.com{{ page.url }}">Tweet</a></li>
		<li><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://www.caosordenado.com{{ page.url }}">Facebook</a></li>
		<li><a target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en&url=http://www.caosordenado.com{{ page.url }}">G+</a></li>
	</ul>
</aside>
