<nav class="temas" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<ul>
		<li><a href="comportamento.html" itemprop="url">Comportamento</a></li>
		<li><a href="musica.html" itemprop="url">Música</a></li>
		<li><a href="comunicacao.html" itemprop="url">Comunicação</a></li>
		<li><a href="politica.html" itemprop="url">Política</a></li>
		<li><a href="tecnologia.html" itemprop="url">Tecnologia</a></li>
		<li><a href="aplicativos.html" itemprop="url">Aplicativos</a></li>
		<li><a href="video.html" itemprop="url">Vídeo</a></li>
		<li><a href="ciencia.html" itemprop="url">Ciência</a></li>
		<li><a href="geek.html" itemprop="url">Geek</a></li>
		<li><a href="artes.html" itemprop="url">Artes</a></li>
	</ul>
</nav>