---
layout: default
title: Livros
---

<article role="main" id="main" class="main" itemscope itemtype="http://schema.org/Article" itemprop="blogPost">
  <h1 class="entry-curriculo">Livros</h1>

  <ul class="arquivos">
  {% assign count = 0 %}
  {% for post in site.posts %}
    {% if post.tags contains 'Livros' %}
      {% if count < 80 %}
        {% assign count = count|plus:1 %}
          <li>
            <span datetime="{{ page.date| date:"%Y-%m-%d" }}" itemprop="datePublished" class="data-arquivos">
              {{ post.date | date:"%d/%m/%Y" }}
            </span>
            <a href="{{ post.url }}"  itemprop="url">{{ post.title }}</a>
          </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</article>
