/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html{font-size: 62.5%;}
body {
  font-family: "Courier New", Courier, mono;
  color: #333;
  background-color: #fff;
  margin: 0 auto;
  font-weight: 400;
}

audio,canvas,video {
  display: inline;
  zoom: 1
}

button,input,select,textarea {
  vertical-align: middle;
  margin: 0
}

a {
  color: #fc0000;
  text-decoration: none
}
a:hover{
  color: #0096ff;
}
a:visited{
  color: #a9a9a9;
}
a:focus {
  outline: thin dotted
}

a:hover,a:active {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,strong {
  font-weight: 700
}

em {
  font-style: italic;
}

blockquote {
  color: #555;
  font-style: italic;
  padding: 8px 0 8px 6%;
}
.entry-content blockquote >p {
  margin: 0 auto 0 auto;
  text-indent: 0;
}

dfn {
  font-style: italic
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0
}

pre,code,kbd,samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1rem
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word
}

q {
  quotes: none
}

q:before,q:after {
  content: none
}

small {
  font-size: 85%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5rem
}

sub {
  bottom: -.25rem
}

ul,ol {
  margin: 1rem 0;
  padding: 0 0 0 40px
}

dd {
  margin: 0 0 0 40px
}

nav ul,nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle
}
.entry-content img {
	text-indent: -30px !important;
	text-align: center;
	margin: 0 auto 0 auto;
	padding-bottom: 10px;
	width: 100%;
	height: auto;
}

svg:not(:root) {
  overflow: hidden
}
li > p {text-indent: 0 !important}
/* Tipografia */

h1,h2,h3,h4,h5 {
  font-weight: 400;
  line-height: 140%; 
  margin: 0;
  padding: 30px 0 10px 0;
  text-align: center;
}

h1 a,h2 a,h3 a,h4 a,h5 a {
  color: #393530
}
h3{padding-top: 40px}

.entry-meta{
	text-align: center;
	font-size: 90%;
	margin-bottom: 30px;
	color: #555;
}

.entry-content{
	border-bottom: 1px solid #ccc;
}
.entry-content p{
	max-width: 60rem;
	margin: 0 auto 0;
	text-indent: 20px;
}

/* Estrutura */

#branding{
	border-top: 5px solid #3B3A36;
	margin: 0 auto;
	padding: 5px 0 5px 0;
	background-color: #F3F3F3;
	overflow: hidden;
}
.site-title{
	margin: 0;
	font-size: 90%;
	float: left;
}
.site-title:before{
	content: "{ø";
	background-color: #fc0000;
	color: #fff;
	border-radius: 90%;
	margin-right: 0.5em;
	padding: 0.5em;
}
.main-menu{
	text-align: right;
	margin: 0;
	font-size: 90%;
	float: right;
}
.main-menu li{
	list-style-type: none;
	padding-right: 2%;
	display: inline;
}
.main-menu li:last-child{
	padding-right: 0;
}
#page,#main{
	margin: 0 auto;
}
#colophon{
	background-color: #3B3A36;
	color: #e4e4e4;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}
#site-generator{
	text-align: center;
	padding: 0 10px 0 10px;
}

#site-generator a:hover{
	color:  #fff;
}

#site-generator a:visited{
	color:  #ccc;
}

/* Media queries */


@media only screen and (min-width: 120.000px) {
	body{
	font-size: 24px; font-size: 2.4rem;
	line-height: 160%;
	text-rendering: optimizeLegibility;
	}

	#branding{
	padding: 1.5em 10% 2% 10%;
	}

	.site-title{
	width: 60%;
	}

	.main-menu{
	width: 40%;
	}
	
	#page{
	width: 80%;
	}
	
	h1{
	font-size: 44px; font-size: 4.4rem;
	margin: 50px 0 10px 0;
	}
	h2{
	margin-top: 40px;
	}
	.entry-content{
	padding: 0 0 50px 0;
	margin-bottom: 50px;
	}
	.entry-content ul,.entry-content ol{
	max-width: 60px; max-width: 60rem;
	margin: 10px auto 10px auto;
	}
	.entry-content p{
	text-indent: 3%;
	margin-bottom: 10px;
	}
}

@media only screen and (max-width: 70.000em) {
	body{
	font-size: 22px; font-size: 2.2rem;
	line-height: 152%;
	text-rendering: optimizeLegibility;
	}

	#branding{
	padding: 1.5em 5% 2% 5%;
	}
	
	#page{
	width: 90%;
	}
	
	h1{
	font-size: 42px; font-size: 4.2rem;
	margin: 30px 0 20px 0;
	}
	.entry-content{
	padding: 0 0 40px 0;
	margin-bottom: 30px;
	}
	blockquote {
    padding: 8px 0 8px 5%;
	}
}

@media only screen and (max-width: 32.000em) {
	body{
	font-size: 16px; font-size: 1.6rem;
	line-height: 145%;
	text-rendering: auto;
	}
	
	#branding{
	padding: 1.5em 5% 2% 5%;
	}
	
	.site-title,.main-menu{
	width: 50%;
	}

	#page{
	width: 90%;
	}
	
	h1{
	font-size: 25px; font-size: 2.5rem;
	margin: 20px 0 10px 0;
	}
	.entry-content{
	padding: 0 0 30px 0;
	margin-bottom: 20px;
	}
	blockquote {
    padding: 8px 0 8px 0;
	}


}


/* Utilidades */

.link-post:after{
	content: "⇾";
	font-size: 80%;
	color: #ccc;
}
.link-post:hover{
	color: #0096ff;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,time{
  display: block
}

audio:not([controls]),[hidden],.single-author .entry-meta .byline,#content #nav-above,.paged #content #nav-above,.single #content #nav-above,.format-aside .entry-header,.format-image .entry-header,#searchform label {
  display: none;
}

::-moz-selection,::selection {
  background: #444;
  color: #fff;
  text-shadow: none
}

.fluid-width-video-wrapper {
  margin: 20px auto 20px auto;
  text-align: center !important;  
}
.curriculo-meta {
	font-size: 75%;
	color: #4b4b4b;
	text-transform: uppercase;
	margin: 0 auto 15px auto;
	text-align: center !important;
	text-indent: 0 !important;
}
object,embed{margin: 0 auto 0 auto}
.excerpt{
	font-style: italic;
	text-indent: -20px !important;
	text-align: center;
	margin: 0 auto 0 auto;
	width: auto;
}