  {% include head.html %}
  {% include nav.html %}
  {% if page.image %}
  <div class="pageimg" style="background-image: url(/images/{{ page.image }});"></div>
  <article role="main" id="main" itemscope itemtype="http://schema.org/Article" itemprop="blogPost">
    {{ content }}
  </article>
  {% else %}
  <article role="main" id="main" itemscope itemtype="http://schema.org/Article" itemprop="blogPost">
      {{ content }}
  </article>
  {% endif %}
  {% include temas.html %}
  {% include footer.html %}
  {% include scripts.html %}
</html>
