<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{site.site_name}}</title>
  <meta name="author" content="Eduardo Fernandes">
  <meta name="description" content="Blog sobre nerdismo Apple, produção de conteúdo, privacidade, tecnologia e jornalismo.">

  <link href="http://caosordenado.com/feed.xml" rel="alternate" title="Eduardo Fernandes" type="application/atom+xml" />
  <link rel="shortcut icon" href="https://s3-sa-east-1.amazonaws.com/caosordenado/images/favicon.ico">
  
  <meta name="robots" content="index, follow">
  <META NAME="google-site-verification" CONTENT="101227303495844681081"/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@eduf">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt }}">
  <meta name="twitter:creator" content="@eduf">
  <meta name="twitter:domain" content="http://caosordenado.com">

  <meta property="og:type"   content="article"> 
  <meta property="og:url"    content="http://caosordenado.com{{ page.url }}">
  <meta property="og:site_name"  content="Caos Ordenado">
  <meta property="og:image"  content="https://s3-sa-east-1.amazonaws.com/caosordenado/images/caos_icon.png">
  <meta property="og:title"  content="{{ page.title }}">
  <meta property="og:description"  content="{{ page.excerpt }}"> 
  <meta property="article:author"  content="Eduardo Fernandes">
  <meta property="article:section" content="blog">
  <meta property="article:tag"   content="caos ordenado">

  <link rel="stylesheet" href="http://caosordenado.com/stylesheets/foundation.min.css">

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<header role="masthead" id="branding">
  <p class="site-title">
    <a href="/">{{site.site_name}}</a>
  </p>
  <ul class="main-menu">
        <li><a href="http://caosordenado.com/info.html">Info</a></li>
        <li><script type="text/javascript">document.write(
    "<n uers=\"znvygb: rqhs\100pnbfbeqranqb\056pbz\">Pbagngb<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
    </script></li>
        <li><a href="http://caosordenado.com/arquivos.html">Arquivos</a></li>
  </ul>
</header>

<article role="main" id="main">
    {{ content }}
</article>

<footer role="contentinfo" id="colophon">
    <p>
      <a href="http://caosordenado.com">{{site.site_name}}</a> (<a href="http://caosordenado.com/feed.xml">RSS</a>) = <a href="http://jekyllrb.com">Jekyll</a> + <a href="http://caosordenado.com/info.html">Eduardo Fernandes</a> (<script type="text/javascript">document.write(
"<n uers=\"znvygb: rqhs\100pnbfbeqranqb\056pbz\">Pbagngb<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>, <a href="http://twitter.com/eduf">Twitter</a>, <a href="https://plus.google.com/118332442513569100227" rel="publisher">Google+</a>).
    </p>
    
    </p><a href="Creative Commons Attribution-NonCommercial 3.0 Unported License">Creative Commons License</a>.</p>
</footer>

<!-- Fit video -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#main").fitVids();
  });
</script>

<!-- Google Webmaster -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11509036-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>