---
layout: default
---

<h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>

{% if page.excerpt %}
	<header class="excerpt" itemprop="description">{{ page.excerpt | markdownify }}</header>
{% else %}
{% endif %}
	{% include author.html %}
	<span itemprop="articleBody">{{content}}</span>

<footer class="entry-meta">
	<p>Compartilhar:&ensp;
	<a href="mailto:?subject={{ page.title }}&body=http://caosordenado.com{{ page.url }}">E-mail</a>&ensp;.&ensp;
	<a target="_blank" href="http://twitter.com/home?status={{ page.title }}&#160;http://caosordenado.com{{ page.url }}">Tweet</a>&ensp;.&ensp; 
	<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://caosordenado.com{{ page.url }}">Facebook</a>&ensp;.&ensp; 
	<a target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en&url=http://caosordenado.com{{ page.url }}">G+</a>
	</p>
</footer>

<section>
	{% if page.comments %}
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'caosordenado';
	    (function() {
	    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	      })();
    </script>
    <noscript>Você vai precisar liberar o JavaScript para ver os comentários <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink"> do <span class="logo-disqus">Disqus</span></a>
	{% endif %}
</section>
