---
layout: default
---

		<h1 class="entry-title" itemprop="headline">
				{% if site.titlecase %}
				{{ page.title | titlecase }}
				{% else %}
				{{ page.title }}
				{% endif %}
		</h1>
		
		<header class="excerpt" itemprop="description">{{ page.excerpt | markdownify }}</header>
		<!--<img class="pageimg" src="{{ page.image }}" itemprop="image">-->

				<span itemprop="articleBody">{{content}}</span>

		<footer class="entry-meta">
			<p class="author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">Publicado por <span itemprop="name" class="fn"><a href="{{ site.url }}/info.html" title="Sobre Eduardo Fernandes" itemprop="url">Eduardo Fernandes</a></span> em <span datetime="{{ page.date| date:"%Y-%m-%d" }}" itemprop="datePublished">{{ page.date| date:"%d.%m.%Y" }}.</span></p>
		</footer>

		<ul>
			{% for post in site.related_posts limit:5 %}
  			{% assign match = false %}
			{% for category in post.categories %}
    		{% if page.categories contains category %}
      		{% assign match = true %}
    		{% endif %}
  			{% endfor %}
  			{% if match %}
			<li><a href="{{post.url}}" title="{{ post.title }}" itemprop="url">{{post.title}}</a>
			{% endif %}
			{% endfor %}
		</ul>
