---
layout: default
---

{% if page.image %}
	<div class="page-img" style="background-image: url(/images/{{ page.image }});">
		<header class="page-header">
			<h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
			<div class="excerpt">{{ page.description | markdownify }}</div>
		</header>
	</div>
{% else %}
	<header class="page-header no-image">
		<h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
	</header>
{% endif %}

<article role="main" id="main" class="main" itemscope itemtype="http://schema.org/Article" itemprop="blogPost">
		{% include author.html %}
		{{ content }}
		{% include social.html %}
</article>
